@import "tailwindcss";
@import "./tokens.generated.css";

@theme {
  --spacing-2xs: 1.2rem;
  --spacing-xs: 1.6rem;
  --spacing-sm: 2rem;
  --spacing-md: 2.4rem;
  --spacing-lg: 2.8rem;
  --spacing-xl: 3.2rem;
  --spacing-2xl: 4rem;
  --spacing-3xl: 4.8rem;

  --spacing-0: 0;
  --spacing-1: 0.1rem;
  --spacing-2: 0.2rem;
  --spacing-3: 0.3rem;
  --spacing-4: 0.4rem;
  --spacing-6: 0.6rem;
  --spacing-8: 0.8rem;
  --spacing-10: 1rem;
  --spacing-12: 1.2rem;
  --spacing-16: 1.6rem;
  --spacing-20: 2rem;
  --spacing-24: 2.4rem;
  --spacing-28: 2.8rem;
  --spacing-32: 3.2rem;
  --spacing-40: 4rem;
  --spacing-48: 4.8rem;
  --spacing-56: 5.6rem;
  --spacing-64: 6.4rem;
  --spacing-72: 7.2rem;
  --spacing-80: 8rem;
  --spacing-96: 9.6rem;
}

@layer base {
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }
}
