@import 'tailwindcss';
@import './tokens.generated.css';

@theme {
  --font-sans: var(--font-noto-sans);
  --text-2xs: 1rem;
  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
  --text-base: 1.6rem;
  --text-md: 1.8rem;
  --text-lg: 2rem;
  --text-xl: 3.4rem;

  --spacing-2xs: 1.2rem;
  --spacing-xs: 1.6rem;
  --spacing-sm: 2rem;
  --spacing-md: 2.4rem;
  --spacing-lg: 2.8rem;
  --spacing-xl: 3.2rem;
  --spacing-2xl: 4rem;
  --spacing-3xl: 4.8rem;

  --spacing-0: 0;
  --spacing-1: 0.1rem;
  --spacing-2: 0.2rem;
  --spacing-3: 0.3rem;
  --spacing-4: 0.4rem;
  --spacing-6: 0.6rem;
  --spacing-8: 0.8rem;
  --spacing-10: 1rem;
  --spacing-12: 1.2rem;
  --spacing-14: 1.4rem;
  --spacing-16: 1.6rem;
  --spacing-18: 1.8rem;
  --spacing-20: 2rem;
  --spacing-24: 2.4rem;
  --spacing-28: 2.8rem;
  --spacing-32: 3.2rem;
  --spacing-40: 4rem;
  --spacing-48: 4.8rem;
  --spacing-56: 5.6rem;
  --spacing-64: 6.4rem;
  --spacing-72: 7.2rem;
  --spacing-80: 8rem;
  --spacing-96: 9.6rem;

  --radius-0: 0;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-28: 28px;
  --radius-36: 36px;
}

@layer base {
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }

  body {
    /* 공통 font style */
    font-size: 1.2rem; /* 12px */
    line-height: 1;
    letter-spacing: -0.03em; /* -3% */
  }
}
